* {
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  max-width: 1366px;
  margin: 0px auto;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
