@import url("prepare-order-style.css");
@import url("cards-style.css");

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Cairo", sans-serif;
  margin: 60px;
  background-color: #ff45001c;
  display: grid;
  grid-template-columns: 60% 40%;
}

@media (max-width: 795px) {
  body {
    font-family: "Cairo", sans-serif;
    margin: 60px;
    background-color: #ff45001c;
    display: grid;
    grid-template-columns: 100%;
  }
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}

@media (max-width: 1101px) {
  .cards {
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
}

@media (max-width: 550px) {
  .cards {
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
  }
}

h1 {
  margin-bottom: 10px;
}
