@import url('cards-style.css');

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Cairo", sans-serif;
  margin: 60px;
  background-color: rgba(165, 42, 42, 0.19);
  display: grid;
  grid-template-columns: 1fr auto;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}
